<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}  {%endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="/path/to/styles/default.css">
<script src="/path/to/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <pre>
        <code class="Css">

            *{
           margin : 0px;
           }
    </code>
</pre>
    <Header>Hello</Header>
    {%block body%}  {%endblock%}
</body>
</html>